{% extends 'layout.html' %}

{% block title %}Создание локации{% endblock %}

{% block content %}
{% if msg %}
<div class="msg">{{ msg }}</div>
{% endif %}
<form action="{{ url_for('create_location') }}" method="post">
    <p>Название локации:</p>
    <label>
        <input name="name" size="50">
    </label>
    <p>Описание локации:</p>
    <label>
        <textarea cols="80" name="description" rows="6"></textarea>
    </label>
    <div>
        {% for player in players %}
        <p><label>
            <input name="{{ player[0] }}" type="checkbox">
        </label>Назначить локацию источником магии для {{ player[0] }}</p>
        <hr>
        {% endfor %}
    </div>
    <button type="submit">Создать локацию!</button>
</form>
{% endblock %}