{% extends 'layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h2>Главная</h2>

<p>Добро пожаловать, {{ username }}!</p>
{% if master %}
<a class="action-link" href="{{ url_for('create_location') }}">Создать локацию</a>
{% endif %}
{% for location in locations %}
{% if location['id'] %}
    <div class="location"><h3>{{ location['name'] }}</h3>
    <a href="{{ url_for('location', id=location['id']) }}">Перейти в локацию</a>
    </div>
{% endif %}
{% endfor %}
{% endblock %}
