<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="loggedin">
<nav class="navtop">
    <div>
        <a href="/home"><h1>Форум</h1></a>
        <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Главная</a>
        <a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Профиль</a>
        <a href="{{ url_for('submit') }}"><i class="fas fa-plus"></i>Заклинания</a>
        <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Выход</a>
    </div>
</nav>
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>