{% extends 'layout.html' %}

{% block title %}Ролевая локация{% endblock %}
{% block content %}
<div class="description">
    <h1>{{ location_data.name }}</h1>
    {{ location_data.description }}
</div>
{% for post in posts %}
    <div class="post">
        <div class="post-meta">
            {{ post['author'] }}<br>
            {{ post['datetime'] }}<br>
            <div cast="spells-data">
            {% for cast in casts[post['id']] %}
                {% if cast['is_obvious'] == 1 or master = True %}
                <p>{{ cast }}:
                    {% for param in cast %}
                        {{ param }} = {{ cast[param] }}<br>
                    {% endfor %}
                </p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="post-content">{{ post['content'] }}</div>
    </div>
{% endfor %}
<div class="posting-form">
    <form name="posting-form" action="{{ url_for('location', id=location_data.id, page=page }}" method="post">
        <textarea rows="6" cols="80" name="content"></textarea>
        <textarea rows="6" cols="80" name="spells" class="spell-input"></textarea>
        <button type="button" onclick="castSpell">Каст заклинания</button>
        <button type="submit">Отправить пост</button>
    </form>
    <div id="spell-data"></div>
</div>