{% extends 'layout.html' %}
{% block title %} {{ spell['spell_title'] }} {% endblock %}

{% block content %}
<form action="{{ url_for('approve', spell_id=spell['id']) }}" method="post" name="submit_spell">
    <p>Описание заклинания:</p>
    <label>
        <textarea cols="80" name="description" rows="6">{{ spell['description'] }}</textarea>
    </label>
    <p>Школа заклинания: {{ spell['school'] }}</p>
    <p>Базовый расход маны:</p>
    <label>
        <input max="50000" min="0" name="mana_cost" type="number" value="{{ spell['mana_cost'] }}">
    </label>
    <p>Требуемая константа обученности:</p>
    <label>
        <input max="2" min="0.5" name="learning_const" step="0.1" type="number" value="{{ spell['learning_const'] }}">
    </label>
    <p>
        <button type="submit">Одобрить заклинание</button>
    </p>
    <p>
        <button type="submit" value="delete">Удалить заклинание</button>
    </p>
    <p>
        <button type="submit" value="ban">Забанить автора</button>
    </p>
</form>

{% endblock %}