{% extends layout.html %}
{% block title %} {{ spell['spell_title'] }} {% endblock %}

{% block content %}
<form action="{{ url_for('submit') }}" method="post" name="submit_spell">
        <p>Описание заклинания:</p>
        <label>
            <textarea cols="80" name="description" rows="6" value="{{ spell['description'] }}"></textarea>
        </label>
        <p>Школа заклинания: {{ spell['school'] }}</p>
        Базовый расход маны:
        <label>
            <input name="mana_cost" type="number" min="0" max="50000" value="{{ spell['mana_cost'] }}">
        </label>
        Требуемая константа обученности:
        <label>
            <input name="learning_const" type="number" min="0.5" max="2" step="0.1" value="{{ spell['learning_const'] }}">
        </label>

    <button type="submit">Одобрить заклинание</button>
    <button type="submit" value="delete">Удалить заклинание</button>
    <button type="submit" value="ban">Забанить автора</button>
</form>

{% endblock %}