<script>
    import * as alphabet from '../files/alphabet.json';

    function addParameter() {
        let param_name = prompt("Что за параметр?", "Дальность");
        let form = document.getElementById("inputs");
        form.innerHTML = form.innerHTML + '<input type="text" name="' + transliterate(param_name) + '">'
    }

    function transliterate(word) {
        let answer = '';
        let a = alphabet;
        for (let i in word) {
            if (word.hasOwnProperty(i)) {
                if (a[word[i]] === undefined) {
                    answer += word[i];
                } else {
                    answer += a[word[i]];
                }
            }
        }
        return answer;
    }
</script>
<form action="send_spell" method="post" name="submit_spell">
    <div id="inputs">
        <h2>Добавить заклинание: </h2>
        <p>Название заклинания: <label>
            <input name="spell_title" size=50 type="text">
        </label></p>
        <p>Базовый расход маны: <label>
            <input name="spell_cost" type="number">
        </label></p>
        <p>Требуемая константа обученности: <label>
            <input name="learning_const" type="number">
        </label></p>
        <p>Описание заклинания: <label>
            <textarea cols="80" name="description" rows="6"></textarea>
        </label></p>
        <p>Очевидное (по касту понятно, что за заклинание): <label>
            <input name="obvious" type="checkbox">
        </label></p>
        <p>Публичное: <label>
            <input checked name="is_public" type="checkbox">
        </label></p>
        <p>Зависимости дополнительных параметров: "прямая" - прямая пропорциональность, "обратная" - обратная
            пропорциональность, "квадрат" - пропорционально квадрату параметра, "обратный квадрат", "экспонента" -
            базовый расход возводится в степень параметра.</p>

        <button onClick="addParameter()">Добавить параметр</button>
        <input name="submit" type="submit">
    </div>
</form>
