{% extends 'layout.html' %}

{% block title %}Заклинания{% endblock %}
{% block content %}
<h2>Добавление заклинания</h2>

<script>
    import * as alphabet from '../files/alphabet.json';

    function addParameter() {
        let param_name = prompt("Что за параметр?", "Дальность");
        let form = document.getElementById("inputs");
        form.innerHTML = form.innerHTML + '<input type="text" name="' + transliterate(param_name) + '">'
    }

    function transliterate(word) {
        let answer = '';
        let a = alphabet;
        for (let i in word) {
            if (word.hasOwnProperty(i)) {
                if (a[word[i]] === undefined) {
                    answer += word[i];
                } else {
                    answer += a[word[i]];
                }
            }
        }
        return answer;
    }
</script>
{% if msg %}
<div class="msg">{{ msg }}</div>
{% endif %}
<form action="{{ url_for('submit') }}" method="post" name="submit_spell">
    <div id="inputs">
        <p>Название заклинания:</p>
        <label>
            <input name="spell_title" size=50 type="text">
        </label>
        <p>Базовый расход маны:</p><label>
        <input name="spell_cost" type="number">
    </label>
        <p>Требуемая константа обученности:</p>
        <label>
            <input name="learning_const" type="number">
        </label>
        <p>Описание заклинания:</p>
        <label>
            <textarea cols="80" name="description" rows="6"></textarea>
        </label>
        <p>Очевидное (по касту понятно, что за заклинание):
            <label>
                <input name="obvious" type="checkbox">
            </label></p>
        <p>Публичное:
            <label>
                <input checked name="is_public" type="checkbox">
            </label></p>
        <p>Зависимости дополнительных параметров: "прямая" - прямая пропорциональность, "обратная" - обратная
            пропорциональность, "квадрат" - пропорционально квадрату параметра, "обратный квадрат", "экспонента" -
            базовый расход возводится в степень параметра.</p>

        <button onClick="addParameter()" type="button">Добавить параметр</button>
        <input name="submit" type="submit">
    </div>
</form>
{% endblock %}
